body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fbfbfb;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#select {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  flex: 0 0 auto;
  padding: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
}

#target {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

#root {
  flex: 1 1 auto;
}