@import "./elk-component-style.css";

rect.node {
  font-family: inherit;
  stroke: black;
}

foreignObject.node {
  font-family: inherit;
  background-color: rgba(255, 255, 255, 0.85) !important;
  color: black;
  padding: 4px;
  border: 1px solid #777;
}

rect.label {
  font-family: inherit;
  stroke: black;
}

foreignObject.label {
  font-family: inherit;
  background-color: rgba(255, 255, 255, 1) !important;
  color: black;
  padding: 4px;
  border: 1px solid #777;
}

.edge {
  stroke: #777;
  stroke-width: 2px !important;
  stroke-opacity: 1;
  fill: none !important;
}
/*
.port {
  fill: none;
  stroke: transparent !important;
  stroke-width: 0px;
  opacity: 1 !important;
}*/

.port,
.start {
  fill: #fff;
  stroke: blue !important;
  stroke-width: 2px;
  opacity: .6 !important;
}

.finish {
  fill: #000 !important;
  opacity: .8 !important;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.content-pane {
  height: 100%;
  width: 100%;
  /*padding-bottom: 100%;*/
  vertical-align: top;
}

.svg-content {
  width: 100%;
  height: 100%;
}

.minimap-container {
  position: absolute;
  top: 60px;
  right: 60px;
  border: 1px solid grey;

}

.minimap-container>div {
  background-color: rgba(255, 255, 255, 0.9);
}

.resource-title {
  font-weight: bold;
  font-size: 1.15em;
}