@import "./elk-style-flow.css";
@import "./elk-style-pipeline.css";
@import "../../../style/font-awesome-4.7.0/css/font-awesome.css";

g.leaf > rect {
  stroke: #000;
  stroke-width: 1px;
  opacity: 1;
}

g.compound.container > rect.node {
  opacity: 0.08!important;
  stroke-width: 1px!important;
}

g.leaf.container > rect.node {
  opacity: 0.6;
  stroke: #000!important;
  stroke-width: 2px!important;
}

.node {
  font-family: inherit;
}

.link {
  stroke: #999;
  stroke-opacity: 1;
  fill: none;
}

.port {
  stroke: #000!important;
  stroke-width: 1px;
  opacity: .6!important;
}